.mypage {
	font-family: "ProximaNovaSoft-Regular", Calibri;
	font-size: 110%;
	padding-top: 12px;
	width: 100%;
}

.mypage input[type=text] {
	background-color: #fff;
	border: 1px solid: #ddd;
	border-radius: 3px;
	height: 35px;
	line-height: 21px;
	margin: 4px 0;
	outline: none;
	padding: 0 8px;
	-webkit-appearance: none;
	width: 100%;
}

.mypage button {
	background-color: #eee;
	border: 1px solid: #ccc;
	border-radius: 3px;
	display: block;
	margin: 4px 0;
	padding: 12px;
	-webkit-appearance: button;
	width: 100%;
}
